<!DOCTYPE html>
<html>
<head><title>Search</title></head>
<body>
    <h1>Search Products</h1>
    <a href="/">Back to Main Menu</a><br><br>

    <form method="GET">
        <label for="keyword">Search by Product Name</label><br>
        <input type="text" name="keyword" value="{{ keyword }}" placeholder="Enter Product Name"><br><br>
        <button type="submit">Search</button>
    </form>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name of Product</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product["id"] }}</td>
            <td>{{ product["productName"] }}</td>
            <td>{{ product["price"] }}</td>
            <td>{{ product["stock"] }}</td>
            <td>{{ product["category"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>