<!DOCTYPE html>
<html>
<head><title>Add</title></head>
<body>
    <h1>Add Author</h1>
    <form method="POST">
        <label for="firstName">First Name</label><br>
        <input type="text" name="firstName" placeholder="First Name" required><br><br>

        <label for="lastName">Last Name</label><br>
        <input type="text" name="lastName" placeholder="Last Name" required><br><br>

        <label for="nationality">Nationality</label><br>
        <input type="text" name="nationality" placeholder="Nationality" required><br><br>

        <label for="birthDate">Birth Date</label><br>
        <input type="date" name="birthDate" placeholder="Birth Date" required><br><br>

        <button type="submit">Save</button>
    </form>
    <a href="/authors">Back</a>
</body>
</html>