<!DOCTYPE html>
<html>
<head><title>Authors</title></head>
<body>
    <h1>Authors</h1>
    <a href="/authors/add">Add New</a>
    <a href="/">Back to Main Menu</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Nationality</th>
            <th>Birth Date</th>
            <th>Actions</th>
        </tr>
        {% for author in authors %}
        <tr>
            <td>{{ author["id"] }}</td>
            <td>{{ author["firstName"] }}</td>
            <td>{{ author["lastName"] }}</td>
            <td>{{ author["nationality"] }}</td>
            <td>{{ author["birthDate"] }}</td>
            <td>
                <a href="/authors/edit/{{ author['id'] }}">Edit</a>
                <a href="/authors/delete/{{ author['id'] }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>