<!DOCTYPE html>
<html>
<head><title>Edit</title></head>
<body>
    <h1>Edit Course</h1>
    <form method="POST">
        <input type="text" name="courseCode" value="{{ course['courseCode'] }}"><br>
        <input type="text" name="courseName" value="{{ course['courseName'] }}"><br>
        <input type="number" name="units" value="{{ course['units'] }}"><br>
        <input type="text" name="department" value="{{ course['department'] }}"><br>
        <button type="submit">Update</button>
    </form>
    <a href="/">Back</a>
</body>
</html>