<!DOCTYPE html>
<html>
<head><title>Add</title></head>
<body>
    <h1>Add Member</h1>
    <form method="POST">
        <label for="firstName">First Name</label><br>
        <input type="text" name="firstName" placeholder="First Name" required><br><br>

        <label for="lastName">Last Name</label><br>
        <input type="text" name="lastName" placeholder="Last Name" required><br><br>

        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="Email" required><br><br>

        <label for="membershipDate">Membership Date</label><br>
        <input type="date" name="membershipDate" placeholder="Membership Date" required><br><br>

        <button type="submit">Save</button>
    </form>
    <a href="/members">Back</a>
</body>
</html>