<!DOCTYPE html>
<html>
<head><title>Edit</title></head>
<body>
    <h1>Edit Member</h1>
    <form method="POST">
        <label for="firstName">First Name</label><br>
        <input type="text" name="firstName" value="{{ member['firstName'] }}" required><br><br>

        <label for="lastName">Last Name</label><br>
        <input type="text" name="lastName" value="{{ member['lastName'] }}" required><br><br>

        <label for="email">Email</label><br>
        <input type="email" name="email" value="{{ member['email'] }}" required><br><br>

        <label for="membershipDate">Membership Date</label><br>
        <input type="date" name="membershipDate" value="{{ member['membershipDate'] }}" required><br><br>

        <button type="submit">Update</button>
    </form>
    <a href="/members">Back</a>
</body>
</html>