<!DOCTYPE html>
<html>
<head><title>Add</title></head>
<body>
    <h1>Add Department</h1>
    <form method="POST">
        <label for="deptCode">Department Code</label><br>
        <input type="text" name="deptCode" placeholder="Department Code" required><br><br>

        <label for="deptName">Department Name</label><br>
        <input type="text" name="deptName" placeholder="Deparment Name" required><br><br>

        <label for="Location">Location</label><br>
        <input type="text" name="location" placeholder="Location" required><br><br>

        <button type="submit">Save</button>
    </form>
    <a href="/">Back</a>
</body>
</html>