<!DOCTYPE html>
<html>
<head>Edit</head>
<body>
    <h1>Edit Customer</h1>
    <form method="POST">
        <label for="firstName">First Name</label><br>
        <input type="text" name="firstName" value="{{ customer['firstName'] }}" required><br><br>

        <label for="lastName">Last Name</label><br>
        <input type="text" name="lastName" value="{{ customer['lastName'] }}" required><br><br>

        <label for="contactNumber">Contact Number</label>
        <input type="tel" name="contactNumber" value="{{ customer['contactNumber'] }}" required><br><br>

        <label for="address">Address</label>
        <input type="text" name="address" value="{{ customer['address'] }}" required><br><br>

        <button type="submit">Update</button>
    </form>
    <a href="/customers">Back</a>
</body>
</html>