<!DOCTYPE html>
<html>
<head><title>Search</title></head>
<body>
    <h1>Search Customers</h1>
    <a href="/">Back to Main Menu</a><br><br>

    <form method="GET">
        <label for="keyword">Search by Last Name</label><br>
        <input type="text" name="keyword" value="{{ keyword }}" placeholder="Enter Last Name"><br><br>
        <button type="submit">Search</button>
    </form>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
            <th>Address</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer["id"] }}</td>
            <td>{{ customer["firstName"] }}</td>
            <td>{{ customer["lastName"] }}</td>
            <td>{{ customer["contactNumber"] }}</td>
            <td>{{ customer["address"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>