<!DOCTYPE html>
<html>
<head><title>Guests</title></head>
<body>
    <h1>Guests</h1>
    <a href="/guests/add">Add New</a>
    <a href="/guests/search">Search</a>
    <a href="/">Back to Main Menu</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for guest in guests %}
        <tr>
            <td>{{ guest["id"] }}</td>
            <td>{{ guest["firstName"] }}</td>
            <td>{{ guest["lastName"] }}</td>
            <td>{{ guest["contactNumber"] }}</td>
            <td>{{ guest["checkIn"] }}</td>
            <td>{{ guest["checkOut"] }}</td>
            <td>{{ guest["status"] }}</td>
            <td>
                <a href="/guests/edit/{{ guest['id'] }}">Edit</a>
                <a href="/guests/delete/{{ guest['id'] }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>